/* Fichier: frontend/src/styles/App.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

#root {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}